# Show Your Work plugin log files
showyourwork

# Common IDE configuration files and backup files
.idea
.vscode
*.sw[pon]
*~

# Common virtual environment patterns
.venv
venv

# Good ol' MacOS
.DS_Store

# Python cache files
__pycache__
*.pyc

# Other files to ignore for good practice
*.csv
*.zip
*.bak
*.png
